* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(./image/wp4249833-coat-wallpapers.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

span {
    color: rgb(230, 15, 15);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

nav ul li a:hover {
    color: #D07000;
    transition: .4s;
}

.btn {
    background-color: red;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.1);
}

.content{
    position: absolute;
    top: 55%;
    left: 15%;
    transform: translateY(-50%);
}

h1{
    font-size: 80px;
    color: white;
    margin: 20px 0px 20px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}
h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
    margin: 10px;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px ;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000 , 0px 0px 15px #858585;
    top: 6px ;
    right: 6px ;
}

